@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
}
@media only screen and (max-width: 80em) {
  html {
    font-size: 52%;
  }
}
@media only screen and (max-width: 64em) {
  html {
    font-size: 48%;
  }
}

@media only screen and (max-width: 50em) {
  html {
    font-size: 45%;
  }
}
@media only screen and (max-width: 27em) {
  html {
    font-size: 33%;
  }
}


.search-select .vs__search::placeholder,
.search-select .vs__dropdown-toggle,
.search-select .vs__dropdown-menu {
  color: #394066;
  font-size: 16px;
  border: 0.5px solid rgba(0, 0, 0, 0.124);
  background: #fff;
}

.vs__selected{
  background: #c6d3ff !important;
}

.search-select .vs__clear,
.search-select .vs__open-indicator {
  fill: #394066;
}
.search-select input{
  font-size: 16px !important;
}
.search-select li{
  padding: 8px;
}
.vs1__combobox{
  padding: 0 !important;
}