//FONTS

$font-primary: "Open-Sans";
$font-primary-bold: "Open-Sans-bold";
$font-primary-semibold: "Open-Sans-SemiBold";
$font-secondary: "Roboto";
$font-secondary-bold: "Roboto-bold";

//COLORS

$color-primary: #0033dd;
$color-faded-blue: #688bff;
$color-white: #ffffff;
$color-black: #000;

$color-light-grey-1: #0033dd00;
$color-light-grey-2: #f6f8ff;
$color-dark-grey-1: #011e2991;
$color-dark-grey-2: #87959d;
$color-dark-grey-3: #242424;

$color-dark-blue-1: #091e3e;
$color-dark-blue-2: #011e29;
/*
//Responsive Breakpoints
$bp-largest: 75em; // i.e 1200px 
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px*/
